### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Count the total number of schools by count rowns on school_data
total_num_school = school_data.count()
len(total_num_school.index)
#print("Total Numbers of School: " + str(len(school_data.index)))

#Count the total number of students by count rowns on school_data
total_num_students = student_data.count()
len(total_num_students.index)
#print("Total Numbers of Students: " + str(len(student_data.index)))

#Add the budget of all schools 
total_budget = school_data["budget"].sum()
#print("School Budget: " + str(total_budget))

#Avg math score of each student
avg_math_score = round(student_data["math_score"].mean(),2)
#print("Average Math Score: " + (str(avg_math_score)))

#Avg readind score of each student
avg_read_score = round(student_data["reading_score"].mean(),2)
#print("Average Reading Score: " + (str(avg_read_score)))

#avg passing math students
sev_student_math = student_data[student_data["math_score"] >= 70]
per_student_math = ((len(sev_student_math.index) / len(student_data.index)) *100)
per_student_math = round((per_student_math),2)
#print("Average Students in Math with 70% or Greater: " + (str(per_student_math)))

#avg passing reading students
sev_student_read = student_data[student_data["reading_score"] >= 70]
per_student_read = ((len(sev_student_read.index) / len(student_data.index)) *100)
per_student_read = round((per_student_read),2)
#print("Average Students in Reading with 70% or Greater: " + (str(per_student_read)))

#print a summary table
summary_table_df = pd.DataFrame ({"Total Numbers of Schools": [str(len(school_data.index))],
                               "Total Numbers of Students": [str(len(student_data.index))],
                               "School Budget": [total_budget],
                               "Average Math Score": [avg_math_score],
                               "Average Reading Score": [avg_read_score],
                               "Average Students in Math with 70% or Greater": [per_student_math],
                               "Average Students in Reading with 70% or Greater": [per_student_read]})
summary_table_df

,Total Numbers of Schools,Total Numbers of Students,School Budget,Average Math Score,Average Reading Score,Average Students in Math with 70% or Greater,Average Students in Reading with 70% or Greater
0,15,39170,24649428,78.99,81.88,74.98,85.81

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [23]:
#print(school_data_complete_df) #(this allowed me to look at the data on one screen instead of going back and fourth to the csv)

#this is to group the data for each school
school_by_name = len(school_data_complete["school_name"].unique())
school_by_name

#group_school_df = school_data_complete.groupby(['school_name'])

#school name
group_school_name = group_school_df["school_name"]
#print(group_school_name)

#school type
group_school_type = group_school_df["type"]
#print(group_school_type)

#this will get the number of students for each school
students_each_school = group_school_df["student_name"].count()
#print(students_each_school)

#Do I have to pull the school type and budget when they will already print out?

#budget per student
budget_per_student = round((total_budget / total_num_students),2)
#print(budget_per_student)

# math per school
avg_math_per_school = round(group_school_df["math_score"].mean(),2)
#print(avg_math_per_school)

# read per school
avg_read_per_school = round(group_school_df["reading_score"].mean(),2)
#print(avg_read_per_school)
# % passing math

#avg passing math students
#pass_math_per_school = group_school_df[group_school_df["math_score"] >= 70]
#avg_per_school_math = ((len(sev_student_math.index) / len(group_school_df.index)) *100)
#avg_per_school_math = round((avg_per_school_math),2)
#print("Average Students in Math with 70% or Greater: " + (str(per_student_math)))

#avg passing reading students
#pass_read_per_school = group_school_df[group_school_df["math_score"] >= 70]
#avg_per_school_read = ((len(sev_student_math.index) / len(group_school_df.index)) *100)
#avg_per_school_read = round((avg_per_school_read),2)
#print("Average Students in Reading with 70% or Greater: " + (str(per_student_read)))


#overall passing
#overall_pass = (avg_math_per_school['math_score'].sum) (avg_read_school['reading_score'].sum)
#overall_pass .mean()

summary_table_df = pd.DataFrame ({"School Name": [group_school_name]})
summary_table_df
#group_school_df.mean()

                                         School Name
0  <pandas.core.groupby.generic.SeriesGroupBy obj...

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type